.our-best {
    height: 495px;
    margin: 0 auto;
    background-image: url(../../assets/images/our-best-bg.png);

    &__title {
        padding-top: 80px;
        padding-bottom: 39px;
    }

    &__content {
        margin: 0 auto;
    }

    .none {
        display: none;
    }
}